* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

figure {
  margin: 0;
}

.section, .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 900px;
}

#intro {
  min-height: 90vh;
  background: url(../images/svg-bgs/HoneycombPage01.svg) no-repeat center center, white;
  background-size: cover, cover;
  .image-container {
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hexagon {
      position: relative;
      width: 400px; 
      height: 230.94px;
      margin: 115.47px 0;
      background-image: url(https://pbs.twimg.com/media/DmkTG0xXgAAXGz_?format=jpg&name=medium);
      background-size: auto 461.8802px;
      background-position: center;
    }
    
    .hexTop,
    .hexBottom {
      position: absolute;
      z-index: 1;
      width: 282.84px;
      height: 282.84px;
      overflow: hidden;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background: inherit;
      left: 58.58px;
    }
    
    /*counter transform the bg image on the caps*/
    .hexTop:after,
    .hexBottom:after {
      content: "";
      position: absolute;
      width: 400.0000px;
      height: 230.94010767585033px;
      -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-115.4701px);
      -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-115.4701px);
      transform:          rotate(45deg) scaleY(1.7321) translateY(-115.4701px);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      background: inherit;
    }
    
    .hexTop {
      top: -141.4214px;
    }
    
    .hexTop:after {
      background-position: center top;
    }
    
    .hexBottom {
      bottom: -141.4214px;
    }
    
    .hexBottom:after {
      background-position: center bottom;
    }
    
    .hexagon:after {
      content: "";
      position: absolute;
      top: 0.0000px;
      left: 0;
      width: 400.0000px;
      height: 230.9401px;
      z-index: 2;
      background: inherit;
    }
  }
  .title-container{
    background: rgb(74,74,74);
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.8) 100%);
    border-radius: 25px 0;
    margin: 40px;
    padding: 30px;
    width: 330px;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 45px;
      margin: 20px;
      margin-left: 10px;
    }
    h2 {
      margin-left: 40px;
    }
  }
}
.green{
  color:#D803F5;
}

#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 10vh;
  min-height: 50px;
  background-color: #4A4A4A;
  border: #D803F5 2px solid;
  border-left: none;
  border-right: none;
  justify-content: flex-end;
  .navbar {
    margin: 0 40px;
    flex-direction: row;
    display: flex;
    list-style-type: none;
    padding: 0;
    .nav-button {
      border: #4A4A4A 2px solid;
      border-radius: 4px;
      height: 7vh;
      min-height: 50px;
      background-color: white;
      color: #4A4A4A;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 110px;
      margin: 0 5px;
    }
  }
}

#projects {
  background: url(../images/svg-bgs/HoneycombBorderWhite01.svg) no-repeat left bottom, #4A4A4A;
  min-height: 95vh;
  color: white;
  .content {
    flex-direction: column;
    margin: 20px 0;
  }
  .project-box {
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: black;
    border-radius: 25px 0;

    article {
      height: 550px;
      margin: 10px;
    }
    .pt-one {
      flex: 7;
      border: deeppink 1px dashed;
      display: flex;
      flex-direction: column;
      .project-skills.mapped-skills {
        flex: 1;
        flex-wrap: nowrap;
        height: 90px;
      }
      .proj-img{
        border: deeppink 1px dashed;
        flex: 8;
      }
    }
    .pt-two{
      flex: 2;
      display: flex;
      flex-direction: column;
      border: deeppink 1px dashed;
      .proj-text{
        flex: 8;
        border: deeppink 1px dashed;
      }
      .proj-nav {
        display: flex;
        flex-direction: row;
        flex: 1;
        border: deeppink 1px dashed;
        height: 90px;
        .page-link {
          width: 90px;
          height: 90px;
        }
        .skill-box {
          width: 90px;
          height: 90px;
          margin: 0;
          padding: 10px;
        }
        .skill-box:hover .name-container {
          background: none;
        }
        .skill-box:hover svg path {
          fill: #D803F5;
        }

      }
    }
  }
}

#skills {
  background: url(../images/svg-bgs/HoneycombBorderBlack01.svg) no-repeat left bottom, white;
  color: #FFFF;
  min-height: 95vh;

  .skills-box {
    margin: 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    height: 100%;
    

    .pt-one {
      flex: 1;
      display: flex;
      flex-direction: column;
      .sec-title {
        flex: 4;
        margin: 20px 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .learning {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 20px 30px 0;

        h3 {
          margin: 20px 0 10px;
        }

        .learning-skills {
          display: flex;
          flex-direction: row;          
          .skill-box {
            flex: 1;
            width: 100px;
            height: 100px;
            justify-content: center;
            align-items: center;
            display: flex;
          }
        }
      }
    }
    .pt-two {
      flex: 2;
      display: flex;
      justify-content: center;

    }
    article {
      height: 580px;
      padding: 10px;
      margin: 10px;
      border-radius: 25px 0px;
      background: rgb(74,74,74);
    }
  }
}

.mapped-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.skill-box{
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5px;
  .name-container {
    position: absolute;
    height: 95px;
    width: 95px;
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    background: rgb(74,74,74);
    background: linear-gradient(0deg, rgba(74, 74, 74, 1) 0%, rgba(74,74,74,0.5) 100%);
    transition: visibility 0s, opacity 0.25s linear;
    p {
      color: #D803F5;
      text-align: center;
      margin-top: 70%;
      user-select: none;
    }
  }
  img {
    height: 80%;
  }
}
.skill-box:hover .name-container {
  visibility: visible;
  opacity: 1;
}
  






#exp {
  background: url(../images/svg-bgs/HoneycombBorderGrey01.svg) no-repeat left bottom, #000;
  min-height: 50vh;
  .exp-box {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 25px 0;

    .pt-one {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo-cont {
        height: 175px;
        width: 175px;
        border: deeppink 1px dashed;
      }
    }
    .pt-two {
      flex: 3;
      display: flex;
      flex-direction: column;
      border: deeppink 1px dashed;
      .description {
        flex: 6;
        border: deeppink 1px dashed;
      }
      .exp-nav {
        flex: 1;
        align-self: center;
        border: deeppink 1px dashed;
      }
    }
    article {
      min-height: 200px;
      padding: 10px;
      margin: 10px;
      border: deeppink 1px dashed;
    }
  }
}

#about {
  background-color: lightcyan;
  min-height: 70vh;
  .about-box {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    border: deeppink 1px dashed;

    .pt-one {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .tabs{
        border: deeppink 1px dashed;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-evenly;
        margin: 25px 0;
        .tab {
          border: deeppink 1px dashed;
          width: 100%;
          text-align: center;
        }
      }
    }
    .pt-two {
      flex: 5;
    }
    .pt-three {
      flex: 1;
    }
    article {
      min-height: 350px;
      padding: 10px;
      margin: 10px;
      border: deeppink 1px dashed;
      
    }
  }
}

#contact {
  background-color: lightgoldenrodyellow;
  min-height: 90vh;

  .content {
    flex-direction: column;
  }

  .contact-box {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    border: deeppink 1px dashed;
    .abs {
      top: 0px;
      display: block;
      position: absolute;
      z-index: 3;
      line-height: 120px;
      font-size: 210px;
    }

  }
}
.elem-spacer {
  height: 300px;
  border: deeppink 1px dashed;

}

.hex-box {
  height: 240px;
  width: 210px;
  margin: 10px;

  .hexagon {
    position: relative;
    width: 200px; 
    height: 115.47px;
    background-color: #ffffff;
    margin: 57.74px 0;
    box-shadow: 0 0 20px rgba(74,74,74,0.75);
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29.2893px;
    box-shadow: 0 0 20px rgba(74,74,74,0.75);
  }
  
  .hexagon:before {
    top: -70.7107px;
  }
  
  .hexagon:after {
    bottom: -70.7107px;
  }
  
  /*cover up extra shadows*/
  .hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:200px;
    height:115.4701px;
    z-index: 2;
    background: inherit;
  }
}

.spacer {
  height: 120px;
}
.lat-spacer {
  display: none;
}

@media (max-width:800px), (pointer:coarse) and (orientation: portrait) {
  .content {
    flex-direction: column;
    justify-content: center;
  }
  #intro {
    .title-container {
      width: 80vw;
    }
  }
  #nav {
    justify-content: center;
    .navbar{
      margin: 0;
    }
  }
  #projects{
    .project-box{
      flex-direction: column;
      width: 90vw;
      min-width: 600px;
    }
  }
  #skills {
    .skills-box{
      flex-direction: column;
      width: 90vw;
      min-width: 600px;
      .pt-one {
        height: 350px;
        flex-direction: row;
        .learning{
          width: 250px;
        }
      }
    }
  }
  #exp {
    .exp-box {
      flex-direction: column;
      width: 90vw;
      min-width: 600px;
    }
  }
  #about {
    .about-box {
      flex-direction: column;
      width: 90vw;
      min-width: 600px;
      
      .pt-one {
        min-height: 70px;
        height: 70px;
        flex-direction: row;
        width: 100%;
        margin: 0;

        .tabs {
          flex-direction: row;
          align-items: center;
          margin: 0 5px;
          .tab {
            padding: 5px 0;
            margin: 5px;
            width: 100px;
          }
        }
      }
      .pt-three {
        height: 80px;
        min-height: 80px;
      }
    }
  }
  #contact {
    .contact-box {
      flex-direction: column;
      align-items: center;
      .spacer {
        display: none;
      }
      
      .hex-box {
        display: block;
        flex-direction: row;
        margin-bottom: -50px;
      }
      .hex-one,  .hex-three {
        margin-left: -120px;
      }
      .hex-two {
        margin-left: 120px;
      }
    }
  }
  
}

